body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h1:after {
    content: ' ';
    display: block;
    border: 2px solid #d0d0d0;
    border-radius:4px;
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    clear: both;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.imgWrap {
    position: relative;
    height: 256px;
    width: 256px;
}

.imgWrap img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgDescription {
    position: absolute;
    height: 200px;
    width: 200px;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;

    visibility: hidden;
    opacity: 0;

    vertical-align: middle;
    font-size: 1.2em;
}

.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}

.floatLeftImg {
    float: right;
    margin: 10px;
}

.floatLeftImg img {
    display: block;
}

.tutorialContent {
    width: 75%;
    margin-right: 1%;
}  

.tutorialNav {
    float: right;
    width: 25%;
}

.tutorialNav ul {
    float: right;
    margin: 0px;
    font-size: 1.2em;
}

.tutorialNav ul li {
    margin-bottom: 5px;
}

.tutorialLinks {
    clear: both;
    margin: 5px;
    font-size: 1.2em;
}

.tutorialRightLink {
    float: right;
}

.tutorialLeftLink {
    float: left;
}

.codeSnip {

}

.codeSnip img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
