---
layout: default
---
<h1> {{ page.title }} </h1>

<div class="tutorialNav">
    <ul>
	    <li>
	        <a href="/tutorials/algorithms/sorters/index.html" alt="sorters link">Sorters</a>
            </li>
    </ul>
</div>

<div class="tutorialContent">
  {{ content }}
</div>

<div class="tutorialLinks">
	<div class="tutorialLeftLink">
		<a href="{{ page.prevLesson }}" alt="{{ page.prevLessonName }}">
			{{ page.prevLessonName }}
		</a>
	</div>

	<div class="tutorialRightLink">
		<a href="{{ page.nextLesson }}" alt="{{ page.nextLessonName }}">
			{{ page.nextLessonName }}
		</a>
	</div>
</div>
