<!DOCTYPE html>
<html>
	<script src="/js/fade_background.js"></script>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li>
        			<a href="/" onmouseover='fade_in(this)' onmouseout='fade_out(this)'>
        				Home
        			</a>
        		</li>
        		<li>
        			<a href="/about/" onmouseover='fade_in(this)' onmouseout='fade_out(this)'>
        				About
        			</a>
        		</li>
        		<li>
        			<a href="/resume/" onmouseover='fade_in(this)' onmouseout='fade_out(this)'>
        				Resume
        			</a>
        		</li>
        		<li>
        			<a href="/tutorials/" onmouseover='fade_in(this)' onmouseout='fade_out(this)'>
        				Tutorials
        			</a>
        		</li>
        		<li>
        			<a href="/blog/" onmouseover='fade_in(this)' onmouseout='fade_out(this)'>
        				Blog
        			</a>
        		</li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:antoniobrese@gmail.com">Contact Me</a></li>
        		<li><a href="https://github.com/B50calabrese">My Github</a></li>
        		<li><a href="https://www.linkedin.com/in/acalabrese1">LinkedIn</a></li>
			</ul>
		</footer>
	</body>
</html>